.menuItem {
    -fx-graphic: none;
}

#menuOpen > .label{
    -fx-graphic: url("/img/document-new.png");
}
#menuOpen .accelerator-text{
    -fx-graphic: none;
}
#tbAdd {
    -fx-graphic: url("/img/document-new.png");
}

#tbChange {
    -fx-graphic: url("/img/ll.png");
}

#tbSave {
    -fx-graphic: url("/img/delete.png");
}
#interesantnaSlicica{
    -fx-graphic: url("/img/img.png");
}

.tbButton{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-font-size: 1em; /* 12 */
    -fx-text-fill: #828282;
}

.tbButton:focused {
    -fx-border-color: transparent, black;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 2);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.tbButton:pressed {
    -fx-background-color: black;
    -fx-text-fill: white;
}

.groupBox {
    -fx-border-color: lightGrey;
    -fx-border-width: 2;
    -fx-border-radius: 2px;
}

.statusBar {
    -fx-padding: 4px;
    -fx-background-radius: 3px;
    -fx-border-radius: 3px;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 1, 0.0 , 1, 1 );
    -fx-background-color: rgba(255,255,255,0.75),
    linear-gradient(to bottom,#aaaaaa 0%,#cccccc 100%);
}
.dialog-pane {
    -fx-background-color: black;
}

